<div class="content">
  <div class="header">
    <h3>Users</h3>
    <td><button (click)="open()">Create User</button></td>
  </div>
  <form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">E-Mail</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
      <th scope="row">{{ user.id }}</th>
      <td>
        <ngb-highlight [result]="user.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="user.lastName" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight></td>
      <td><button (click)="deleteUser(user)">DELETE</button></td>
    </tr>
    </tbody>
  </table>
</div>