.content {
    padding: 2rem;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: solid gray 1px;
        margin-bottom: 2rem;
    }
}