<div class="form-content">
  <h3>Create User</h3>
  <form [formGroup]="formUser" (ngSubmit)="onSubmit(formUser.value)" style="color:#495057!important ">
    <div class="position-relative form-group">
      <label for="name">User Id*</label>
      <input 
        formControlName="id" 
        name="id" id="id" 
        placeholder="12345" 
        type="text" class="form-control">
    </div>
    <div class="position-relative form-group">
      <label for="lastName">User Name*</label>
      <input 
        formControlName="name" 
        name="name" id="name" 
        placeholder="Doe" 
        type="text" class="form-control">
    </div>
    <div class="position-relative form-group">
      <label for="lastName">User Last Name*</label>
      <input 
        formControlName="lastName" 
        name="lastName" id="lastName" 
        placeholder="Doe" 
        type="text" class="form-control">
    </div>
    <div class="position-relative form-group">
      <label for="lastName">User Email*</label>
      <input 
        formControlName="email" 
        name="email" id="email" 
        placeholder="Doe" 
        type="text" class="form-control">
    </div>
    <div class="position-relative form-group">
      <label for="lastName">User Rol*</label>
      <input 
        formControlName="rol" 
        name="rol" id="rol" 
        placeholder="Doe" 
        type="text" class="form-control">
    </div>
    
    <button class="mt-2 btn btn-primary" type="submit" [disabled]="!formUser.valid">{{'save'}}</button>
  </form>
</div>